@import url('http://fonts.cdnfonts.com/css/the-godfather');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: red;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    
}

#container {
    background-color: black;
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
    
    
}

#quiz {
    padding: 4rem;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0px;

}

ul {
    list-style-type: none;
    padding: 0px;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: red;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: white;
    color: red;
}

@media (max-height: 816px) {
    
    body{
        height: 100vh;
    }

    #container {
        margin-bottom: 100px;
    }
}